<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comforter&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="//use.fontawesome.com/releases/v5.0.7/css/all.css"
    />
    <link rel="stylesheet" href="https://style-sheet.netlify.app/styles.css" />
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="stylesheet" href="./travel-quiz.css" />
    <title>Home</title>
  </head>
  <body>
    <header class="header">
      <div class="header-section">
        <i class="fas fa-bars menu"></i>
        <div class="header-title">
          <a href="../../index.html">
            <h1 class="header-logo">Quiz</h1>
          </a>
          <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../../index.html">Dashboard</a></li>
          </ul>
        </div>
      </div>
      <div class="header-section">
        <input type="text" placeholder="Search" />
        <i class="fas fa-search btn-search"></i>
      </div>
      <nav class="header-section">
        <ul class="display-flex align-items-center">
          <li>
            <a
              href="../../Components/signup/signup.html"
              class="header-links font-weight-700"
              >Signup</a
            >
          </li>
          <li>
            <a
              href="../../Components/login/login.html"
              class="header-links font-weight-700"
              >Login</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main class="quizzes-main">
      <h1 class="quiz-title font-size-2xl text-center text-red-600">
        TRAVEL QUIZ
      </h1>
      <div class="quiz-card">
        <div class="display-flex justify-content-space-between">
          <p class="font-size-lg">
            <span class="font-size-xl font-weight-700">1</span> / 2
          </p>
          <p class="font-size-lg">
            Score :
            <span class="font-size-xl font-weight-700">0</span>
          </p>
        </div>
        <div class="question">
          <p class="font-size-lg font-weight-700">
            Which of the following is the largest country?
          </p>
          <div class="answers">
            <button
              class="btn btn-secondary bg-blueblack-300 text-blueblack-900"
            >
              India
            </button>
            <button class="btn btn-danger">Australia</button>
            <button
              class="btn btn-secondary bg-blueblack-300 text-blueblack-900"
            >
              China
            </button>
            <button class="btn btn-success">Russia</button>
          </div>
        </div>
      </div>

      <div class="quiz-card">
        <div class="display-flex justify-content-space-between">
          <p class="font-size-lg">
            <span class="font-size-xl font-weight-700">2</span> / 2
          </p>
          <p class="font-size-lg">
            Score :
            <span class="font-size-xl font-weight-700">0</span>
          </p>
        </div>
        <div class="question">
          <p class="font-size-lg font-weight-700">
            Which of the following is the smallest country?
          </p>
          <div class="answers">
            <button
              class="btn btn-secondary bg-blueblack-300 text-blueblack-900"
            >
              Nepal
            </button>
            <button class="btn btn-success">Vatican City</button>
            <button
              class="btn btn-secondary bg-blueblack-300 text-blueblack-900"
            >
              Bangladesh
            </button>
            <button class="btn btn-danger">Russia</button>
          </div>
        </div>
      </div>
      <button class="btn btn-primary">Submit</button>
    </main>
    <footer class="footer-section">
      <a href="../../index.html">
        <h2 class="header-logo font-size-xl">Quiz</h2>
      </a>
      <div class="footer-links">
        <a
          class="nav-links social-links"
          href="https://github.com/vivek-guda"
          target="_blank"
        >
          <i class="fab fa-github fa-lg"></i>
        </a>
        <a
          class="nav-links social-links"
          href="https://www.linkedin.com/in/vivek-reddy-g/"
          target="_blank"
        >
          <i class="fab fa-linkedin fa-lg"></i>
        </a>
        <a
          class="nav-links social-links"
          href="https://twitter.com/GVivek_51"
          target="_blank"
        >
          <i class="fab fa-twitter fa-lg"></i>
        </a>
      </div>
      <p class="footer-header text-blueblack-50">
        Made with
        <span class="text-orange-500">&lt;/&gt;</span> by Vivek
      </p>
    </footer>
  </body>
</html>
