<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comforter&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="//use.fontawesome.com/releases/v5.0.7/css/all.css"
    />
    <link rel="stylesheet" href="https://style-sheet.netlify.app/styles.css" />
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="stylesheet" href="./quizpage.css" />
    <title>Home</title>
  </head>
  <body>
    <header class="header">
      <div class="header-section">
        <i class="fas fa-bars menu"></i>
        <div class="header-title">
          <a href="../../index.html">
            <h1 class="header-logo">Quiz</h1>
          </a>
          <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../../index.html">Dashboard</a></li>
          </ul>
        </div>
      </div>
      <div class="header-section">
        <input type="text" placeholder="Search" />
        <i class="fas fa-search btn-search"></i>
      </div>
      <nav class="header-section">
        <ul class="display-flex align-items-center">
          <li>
            <a
              href="../../Components/signup/signup.html"
              class="header-links font-weight-700"
              >Signup</a
            >
          </li>
          <li>
            <a
              href="../../Components/login/login.html"
              class="header-links font-weight-700"
              >Login</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main class="quiz-main">
      <div class="card-container">
        <div class="card-vertical">
          <div class="image-container">
            <img class="image" src="../../assets/images/travel_img.jpg" />
          </div>
          <div class="card-desc">
            <div class="card-header">
              <h2 class="font-size-md">Travel</h2>
              <p class="font-size-rg">
                Take part in the amazing quiz and test your knowledge in Travel
              </p>
            </div>
            <div class="btn-container">
              <a class="quiz-links" href="../../Components/quiz1/quiz1.html">
                <button class="btn btn-primary">Take Quiz</button>
              </a>
            </div>
          </div>
        </div>

        <div class="card-vertical">
          <div class="image-container">
            <img class="image" src="../../assets/images/food_img.jpeg" />
          </div>
          <div class="card-desc">
            <div class="card-header">
              <h2 class="font-size-md">Food</h2>
              <p class="font-size-rg">
                Take part in the amazing quiz and test your knowledge in Food
              </p>
            </div>
            <div class="btn-container">
              <a class="quiz-links" href="../../Components/quiz2/quiz2.html">
                <button class="btn btn-primary">Take Quiz</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer-section">
      <a href="../../index.html">
        <h2 class="header-logo font-size-xl">Quiz</h2>
      </a>
      <div class="footer-links">
        <a
          class="nav-links social-links"
          href="https://github.com/vivek-guda"
          target="_blank"
        >
          <i class="fab fa-github fa-lg"></i>
        </a>
        <a
          class="nav-links social-links"
          href="https://www.linkedin.com/in/vivek-reddy-g/"
          target="_blank"
        >
          <i class="fab fa-linkedin fa-lg"></i>
        </a>
        <a
          class="nav-links social-links"
          href="https://twitter.com/GVivek_51"
          target="_blank"
        >
          <i class="fab fa-twitter fa-lg"></i>
        </a>
      </div>
      <p class="footer-header text-blueblack-50">
        Made with
        <span class="text-orange-500">&lt;/&gt;</span> by Vivek
      </p>
    </footer>
  </body>
</html>
